<div class="container col-1">
    <form action="/images" method="POST" enctype="multipart/form-data">
        <div class="mb-2">
            <label for="inputFile">Image:</label>
            <input type="file" name="inputFile">
        </div>
        <div class="mb-2">
            <input class="btn btn-primary" type="submit" value="Upload Image"/>
        </div>
    </form>
</div>